@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(69, 73, 122, 0.9);
}

.welcome-container {
    height: 100vh;
    background-image: url(/images/bookshelf.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .library {
        display: flex;
        flex-direction: column;
    }
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.library {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100vh;
}
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

h3 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px;
}

input {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    color: #595f6e;
    border: 1px solid #595f6e;
    padding: 5px;
}

label {
    pointer-events: none;
    margin-top: 5px;
}

#readStatus {
    margin-top: 20px;
    width: 70px;
}

.submit {
    background: rgb(69, 73, 122, 0.9);
    color: black;
    padding: 10px;
    width: 70%;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.library-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 60vh;
    border-radius: 4px;
    padding: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: white ;
    width: 60%;
    height: 65vh;
}


table{
    width: 100%;
}

table tr:nth-child(1){
    background-color: rgb(69, 73, 122, 0.9);
    border: none;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

table tr:nth-child(1) > th {
    background-color: rgba(101, 106, 161, 0.9);
    border: none;
    padding: 4px;
}

table tr:nth-child(2) > td {
    border: none;
    margin-top: 10px;
}


td {
    text-align: center;
    padding: 10px;
}

.read-button {
    padding: 7px;
    border: none;
    background-color: blue;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 1px 1px;
}
.read-button:hover {
    transform: scale(1.1);
    background-color: green;
}

.delete-button {
    background-color:white;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 1px 1px rgb(63, 56, 56);
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
}

.delete-button:hover {
    transform: scale(1.1);
}